@using OrganizeMe.Data.Models.Enums
@using System.Linq
@model OrganizeMe.Web.ViewModels.Habits.HabitCreateViewModel

@{
    ViewData["Title"] = "Habit Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="mb-3" asp-area="" asp-controller="Habits" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Title" class="control-label"></label>
                <input asp-for="Input.Title" class="form-control" placeholder="Add Title" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="select form-group">
                <label asp-for="Input.Duration" class="control-label"></label>
                <select asp-for="Input.Duration" class="chosen-select-no-single custom-select">
                    <option value="" disabled selected>Choose Duration</option>
                    @foreach (var duration in Model.Durations)
                    {
                        <option value="@duration">@duration</option>
                    }
                </select>
                <span asp-validation-for="Input.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Frequency" class="control-label">How often?</label>
                <select asp-for="Input.Frequency" class="chosen-select-no-single custom-select">
                    <option value="" disabled selected>Choose Time</option>
                    @foreach (var frequency in Model.Frequencies)
                    {
                        <option value="@frequency">@frequency</option>
                    }
                </select>
                <span asp-validation-for="Input.Frequency" class="text-danger"></span>
            </div>
            <div class="select form-group">
                <label>Prefered Time</label>
                <select asp-for="Input.DayTime" class="chosen-select-no-single custom-select">
                    <option value="" disabled selected>Choose Time</option>
                    @foreach (var daytime in Model.DayTimes)
                    {
                        <option value="@daytime">@daytime</option>
                    }
                </select>
                <span asp-validation-for="Input.DayTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark btn-lg">Create</button>
                <a asp-controller="Calendar" asp-action="Index" class="btn btn-secondary btn-lg">Cancel</a>
            </div>
        </form>
    </div>
</div>