@model BeOrganized.Web.ViewModels.Events.EventChangeViewModel;
@{
    ViewData["Title"] = "Event Edit";

}
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/events.create.css" asp-append-version="true">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/events.create.min.css" asp-append-version="true">
    </environment>
</head>
<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="Edit" class="mb-3" asp-route-id="@TempData["EventId"]">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="EventModel.Title" class="control-label"></label>
        <input asp-for="EventModel.Title" class="form-control  col-md-5" />
        <span asp-validation-for="EventModel.Title" class="text-danger"></span>
    </div>

    <div id="calendar" class="form-group">
        <input id="startDate" asp-for="EventModel.StartDate" type="text" class="inputDate input-group-text form-control d-inline-block ">
        <i class="fa fa-bars border-right border-bottom btn d-inline-block" onclick="showCalendarLeft()"></i>
        <input asp-for="EventModel.StartTime" class="inputTime form-control  d-inline-block" />

        <div class="delimeter d-inline-block"> to </div>

        <input id="endDate" asp-for="EventModel.EndDate" type="text" class="inputDate input-group-text form-control d-inline-block">
        <i class="fa fa-bars btn border-right border-bottom d-inline-block" onclick="showCalendarRight()"></i>
        <input asp-for="EventModel.EndTime" class="inputTime form-control d-inline-block" /><br />

        <span asp-validation-for="EventModel.StartDate" class="text-danger"></span>
        <span asp-validation-for="EventModel.StartTime" class="text-danger"></span>
        <span asp-validation-for="EventModel.EndDate" class="text-danger"></span>
        <span asp-validation-for="EventModel.EndTime" class="text-danger"></span>
        <partial name="_CalendarDropdownPartial" />
    </div>

    <div class="form-group">
        <label asp-for="EventModel.Location" class="control-label"></label>
        <input asp-for="EventModel.Location" class="form-control mb-2 col-md-5" id="autocomplete4" placeholder="Add Location" />
        <span asp-validation-for="EventModel.Location" class="text-danger"></span>
        <input hidden id="coordinates" asp-for="EventModel.Coordinates" />
        <div id="mapWithCoordinates"></div>

    </div>

    <div class="form-group">
        <label asp-for="EventModel.Description"></label>
        <textarea asp-for="EventModel.Description" class="form-control min-vh-50 col-md-5" rows="3" placeholder="Add Description"></textarea>
        <span asp-validation-for="EventModel.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EventModel.CalendarId"></label>
        <select asp-for="EventModel.CalendarId" class="chosen-select-no-single custom-select col-md-2 "
                asp-items="@(new SelectList(Model.Calendars, "Id", "Title"))">
            <option disabled>Choose Calendar</option>
        </select>
        <select id="color_me" asp-for="EventModel.ColorId" class="chosen-select-no-single custom-select col-md-2">
            @foreach (var color in Model.Colors)
            {
                <option value="@color.Id" class="@color.Hex" style="background-color:@color.Hex" title="@color.Name">@color.Name</option>
            }
        </select>
        <span asp-validation-for="EventModel.CalendarId" class="text-danger"></span>
        <span asp-validation-for="EventModel.ColorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
        <a class="btn btn-info btn-lg" asp-action="Index">Cancel</a>
    </div>
</form>
