@model BeOrganized.Data.Models.ApplicationUser
@{
    this.ViewData["Title"] = "Edit";
}

<div class="content row">
    <h4>Remove Admin</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    <div class="form-group">
        <form asp-action="RemoveAdmin" class="d-inline" method="post">
            <input type="submit" value="Remove Admin" class="btn btn-danger btn-lg" />
        </form>
        <a class="btn btn-info btn-lg" asp-action="ManageAdministration">Cancel</a>
    </div>

</div>