@model BeOrganized.Web.ViewModels.Administration.Events.EventCreateModel
<link rel="stylesheet" href="~/css/events.create.min.css" asp-append-version="true">
<section class="content-header">
    <h1>Event Create</h1>
    <ol class="breadcrumb">
        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-area="Administration" asp-controller="Events" asp-action="Index"><i class="fa"></i> Events</a></li>
        <li class="active">Create</li>
    </ol>
</section>
<div class="content row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventModel.Title"></label>
                <input asp-for="EventModel.Title" class="form-control col-md-5" placeholder="Enter title">
                <span asp-validation-for="EventModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventModel.StartDateTime"></label>
                <input asp-for="EventModel.StartDateTime" class="form-control col-md-5">
                <span asp-validation-for="EventModel.StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventModel.EndDateTime"></label>
                <input asp-for="EventModel.EndDateTime" class="form-control col-md-5">
                <span asp-validation-for="EventModel.EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventModel.Location"></label>
                <input asp-for="EventModel.Location" class="form-control mb-2 col-md-5" id="autocomplete4" value="" placeholder="Add location" />
                <span asp-validation-for="EventModel.Location" class="text-danger"></span>
                <div id="map"></div>
                <input hidden id="coordinates" asp-for="EventModel.Coordinates" />
            </div>

            <div class="form-group">
                <label asp-for="EventModel.Description"></label>
                <textarea asp-for="EventModel.Description" class="form-control min-vh-50 col-md-5" rows="3" placeholder="Add Description"></textarea>
                <span asp-validation-for="EventModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventModel.CalendarId"></label>
                <select asp-for="EventModel.CalendarId" class="chosen-select-no-single custom-select ">
                    @foreach (var user in Model.Users)
                    {
                        <option disabled value="@user.Id">@user.UserName</option>
                        foreach (var calendar in Model.Calendars.Where(x => x.UserId == user.Id))
                        {
                            <option value="@calendar.Id">@calendar.Title</option>
                        }
                    }
                </select>
                <span asp-validation-for="EventModel.CalendarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventModel.ColorId"></label>
                <select id="color_me" asp-for="EventModel.ColorId" class="chosen-select-no-single custom-select ">
                    @foreach (var color in Model.Colors)
                    {
                        <option value="@color.Id" class="@color.Hex" style="background-color:@color.Hex" title="@color.Name">@color.Name</option>
                    }
                </select>
                <span asp-validation-for="EventModel.ColorId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Create</button>
            <a class="btn btn-info btn-lg" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>