@model BeOrganized.Data.Models.Event
@{
    this.ViewData["Title"] = "Delete Event";
}
<section class="content-header">
    <h1>Event Delete</h1>
    <ol class="breadcrumb">
        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-area="Administration" asp-controller="Events" asp-action="Index"><i class="fa"></i> Events</a></li>
        <li class="active">Delete</li>
    </ol>
</section>
<div class="content row">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coordinates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Color.Id)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Calendar.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    <div class="form-group">
        <form asp-action="Delete" class="d-inline" method="post">
            <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
            <a class="btn btn-info btn-lg" asp-action="Index">Cancel</a>
        </form>
    </div>

</div>