@using BeOrganized.Common;
@model IEnumerable<BeOrganized.Data.Models.Event>
<section class="content-header">
    <h1>
        Events
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Events</li>
    </ol>
</section>
<form id="antiForgeryForm" method="post"></form>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Events</h3>
                </div>
                <div class="box-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>CalendarId</th>
                                <th>Title</th>
                                <th>StartDateTime</th>
                                <th>EndDateTime</th>
                                <th>CreatedOn</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>ColorId</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.CalendarId</td>
                                    <td>@item.Title</td>
                                    <td>@item.StartDateTime</td>
                                    <td>@item.EndDateTime</td>
                                    <td>@item.CreatedOn</td>
                                    <td>@item.Description</td>
                                    <td>@item.Location</td>
                                    <td>@item.ColorId</td>
                                    <td><a asp-area="Administration" asp-controller="Events" asp-action="Edit" asp-route-eventId="@item.Id" asp-route-calendarId="@item.CalendarId">Edit</a> | <a asp-area="Administration" asp-controller="Events" asp-action="Delete" asp-route-eventId="@item.Id">Delete</a></td>
                                    @*<td><a asp-area="Administration" asp-controller="Events" asp-action="Edit" asp-route-eventId="@item.Id" asp-route-calendarId="@item.CalendarId">Edit</a> | <a onclick="Delete('@item.Id', 'Events/Delete')">Delete</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
