@model BeOrganized.Web.ViewModels.Habits.HabitDetailsViewModel
<div>
    <h3><span class="dot mt-1" style="background-color:@Model.GoalColorHex"></span> @Model.Title</h3>
    @if (Model.StartDateTime.Date == Model.EndDateTime.Date)
    {
        <p>@Model.StartDateTime.ToString("dd MMMM HH:mm") - @Model.EndDateTime.ToString("HH:mm")</p>
    }
    else
    {
        <p>@Model.StartDateTime.ToString("dd MMMM HH:mm") - @Model.EndDateTime.ToString("dd MMMM HH:mm")</p>
    }
    <hr />
    <h5>@Model.GoalFrequency</h5>
    <p>@Model.GoalDuration, @Model.GoalDayTime</p>
    <h5>@Model.GoalCalendarTitle Calendar</h5>
</div>
<div>
    <div>
        <a asp-controller="Goals" asp-action="Edit" asp-route-goalId="@Model.GoalId" asp-route-habitId="@Model.Id" title="Edit Goal"><i class="fas fa-edit m-1"></i></a>| <a id="deleteButton" onclick="DeleteButtonHabit()" data-id="@(Model.Id)" title="DeleteEvent"><i class="fas fa-trash-alt m-1"></i></a>
    </div>
    <form method="post">
        @if (!Model.IsCompleted)
        {
            <button asp-action="Complete" asp-route-id="@Model.Id" title="Click to set to completed."><i class="far fa-check-circle"></i></button>
        }
        else
        {
            <button asp-action="NotComplete" asp-route-id="@Model.Id" title="Click to set to not completed."><i class="fas fa-check-circle"></i></button>
        }
    </form>
</div>
