@using OrganizeMe.Common
@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration
@{
    var googleApi = this.configuration["GoogleMaps:ApiKey"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"]</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <!-- Libraries CSS Files -->
        <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true">
        <link href="~/lib/animate/animate.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
</head>
<body>
    <header id="header">
        <div class="logo float-left fixed-top">
            <a href="/" class="scrollto"><img src="~/img/Logo/logo_transparent.png" alt="logo" class="img-fluid"></a>
        </div>
        <nav class="nav navbar-expand-sm navbar-light fixed-top bg-white border-bottom box-shadow mb-3">
            <div class="w-100">
                <a class="navbar-brand nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Insert search form here: -->
                @*<form class="form-group col-6 " asp-action="Find" asp-controller="Search" method="get">
                        <input type="search" name="query" class="form-control" placeholder="Search..." value="@ViewContext.HttpContext.Request.Query["query"]" />
                    </form>*@
                <div class="navbar-collapse collapse  d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>

        </nav>
    </header>

    <div class="">
        <partial name="_CookieConsentPartial" />
        <partial name="_NotificationPartial" />
        <main id="main" role="main" class="container pb-5 pt-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-md-6">
                    <p class="text-right"><a href="https://github.com/EleonorManolova/OrganizeMe" target="_blank"><i class="fab fa-github"></i> Open Source System</a></p>
                </div>
            </div>
        </div>
    </footer>

    <div id="preloader"></div>
    <!-- Template Main Javascript File -->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/events.create.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@googleApi&libraries=places&callback=initAutocomplete" async defer></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/events.create.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@googleApi&libraries=places&callback=initAutocomplete" async defer></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
